<div class="jumbotron">
  <form role="form" class="form-horizontal">
    <%= form_for(@user) do |f|%>
      <div class= "from-group">
        <%= f.label :First_Name%><br>
        <%= f.text_field :first_name%>
      </div>
      <div class= "from-group">
        <%= f.label :Last_Name%><br>
        <%= f.text_field :last_name%>
      </div>
      <div class= "from-group">
        <%= f.label :Email%><br>
        <%= f.text_field :email%>
      </div>
      <div class= "from-group">
        <%=f.label :Password%><br>
        <%= f.password_field :password%>
      </div>
      <div class= "from-group">
        <%= f.label :Address %><br>
        <%= f.text_field :address%>
      </div>
      <div class= "from-group">
        <%= f.label :City%><br>
        <%= f.text_field :city%>
      </div>
      <div class= "from-group">
        <%= f.label :State%><br>
        <%= f.text_field :state%>
      </div>
      <div class= "from-group">
        <%= f.label :Phone%><br>
        <%= f.text_field :phone%>
      </div>
      <div class="btn">
        <%=f.submit %>
      </div>
    <%end%>
  </form>
</div>