<h3><b>first_name:</b> <%= @user.first_name%></h3>

<p> <b>last_name:</b>  <%= @user.last_name%></p>

<p><b>User role:</b>   <%= @user.role%> </p>

<p><b>Email: </b> <%= @user.email%></p>

<p><b>Address:</b> <%= @user.address%></p>

<p><b>city:</b> <%=@user.city%></p>

<p><b>state:</b><%=@user.state%></p>

<p><b>phone:</b><%=@user.phone%></p>


<%= link_to 'Back', users_path %>