<h1>Listing products</h1>

<table>
  <thead>
    <tr>
      <th> Name</th>
      <th>Description</th>
      <th>Image url</th>
      <th>Price</th>
      
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.image_url %></td>
        <td><%= product.price %></td>
        <%if current_user.present? %>
          <td><%= button_to 'Add to Cart', cart_details_path(product_id: product,cart_id: @cart.first.id) %><td>
        <%else%>
          <td><%= button_to 'Add to Cart', log_in_path, method: :get %><td>
        <%end%>

        <td><%= link_to 'Show', product %></td>

        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete %><td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
