
<div>
  <ul class="list-inline">
    <li><h3>Listing products</h3></li>
    <li class ="pull-right">
      <div id="products_search" class="navbar-form navbar-left">
        <%= form_tag products_path, :method => 'get', :id => "products_search" ,remote: true do %>
          <p>
            <%= text_field_tag :search, params[:search], :id=> "1" %>
            <%= submit_tag "Search", :name => nil %>
          </p>   
        <% end %>
      </div>
    </li>
  </ul>
</div>


<div>
  <h4>Select Category:</h4>
  <%= form_tag products_path, method: "get" do %>
  <%= select_tag  "category", options_for_select(@categories) %>
  <%= submit_tag "Filter" %>
<% end %>
</div>
<div id="products"><%= render 'products' %></div>
<br>
<ul class="pager">
<%= will_paginate @products %>
</ul>
<% if current_user.present?&& current_user.role="admin"%>
<%= link_to 'New Product', new_product_path %>
 <%end%>