<h1>Listing products</h1>

<div id="products_search">
  <%= form_tag products_path, :method => 'get', :id => "products_search" do %>
    <p>
      <%= text_field_tag :search, params[:search], :id=> "1" %>
      <%= submit_tag "Search", :name => nil %>
    </p>   
  <% end %>
</div> 


<div>
  <h4>Select Category:</h4>
  <%= form_tag products_path, method: "get" do %>
  <%= select_tag  "category", options_for_select(@categories) %>
  <%= submit_tag "Filter" %>
<% end %>
</div>
<div id="products"><%= render 'products' %></div>
<br>
<%= will_paginate @products %>
<% if current_user.present?&& current_user.role="admin"%>
<%= link_to 'New Product', new_product_path %>
 <%end%>