<h3><%= @product.name%></h3>

<p> <b>Description:<b>  <%= @product.description%></p>

<p><b>Image url:<b>     <%= @product.image_url %> </p>

<p>Price: <%= @product.price%></p>

<%= link_to 'Back', products_path %>